:host {

  .discount-input, .discount-input:active, .discount-input:focus {
    background-color: transparent;
    border: 0px;
    color: white;
    text-align: left;
    width: auto;
    font-weight: bold;
  }

}
