<div class="container-fluid page">
  <h4 class="page-title">
    Arrow Courses List
    <button class="btn btn-primary float-right"
            (click)="addDetails(courseDetailsModal,arrowForm)">
      Add Course
    </button>
    <div class="clearfix"></div>
  </h4>

  <ul class="list-group"
      *ngIf="courseList | async as coursesList">
    <li class="list-group-item mb-1"
        *ngFor="let course of coursesList">
      <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-12 text-truncate">
          <i  class="fa fa-graduation-cap"></i>
          Course Name : <span class="text-danger font-weight-bold">{{course.courseName}}</span>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 text-truncate">
          <i class="fa fa-clock-o"></i>
          Duration : <span class="text-danger font-weight-bold">{{course.courseDuration}}</span> Days
        </div>
        <div style="position: absolute;top: 0.5rem;right:  0.5rem;">
          <button class="btn btn-primary btn-sm mr-3"
                  (click)="editDetails(course,courseDetailsModal,arrowForm)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-danger btn-sm"
                  (click)="deleteDetails(course)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>

  <div bsModal
       [config]="{ignoreBackdropClick:true,keyboard:false}"
       #courseDetailsModal="bs-modal"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{formTitle}}</h4>
          <button type="button"
                  class="close pull-right"
                  (click)="courseDetailsModal.hide()"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal"
                autocomplete="off"
                #arrowForm="ngForm">
            <div class="form-row">

              <!--CourseName-->
              <div class="form-group col-md-6">
                <label>Course Name <span class="font-weight-bold text-danger">*</span></label>
                <input name="courseName"
                       ngModel
                       required
                       autocomplete="off"
                       type="text"
                       placeholder="Course Name"
                       class="form-control">
              </div>

              <!--courseDuration-->
              <div class="form-group col-md-6">
                <label>Course Duration in Days <span class="font-weight-bold text-danger">*</span></label>
                <input type="number"
                       name="courseDuration"
                       ngModel
                       required
                       autocomplete="off"
                       placeholder="Course Duration in Days"
                       class="form-control">
              </div>

              <div class="col-12">
                <button [disabled]="arrowForm.invalid"
                        type="submit"
                        (click)="saveDetails(arrowForm.value, courseDetailsModal, arrowForm)"
                        class="float-right btn btn-primary">Save
                </button>
                <p class="text-danger float-left">* please provide all required fields</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showLoader"
       class="fixed-top"
       style="width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);z-index: 200000000000;">
    <label class="text-white"
           style="position: absolute;top: 50%;width: 100%;text-align: center;">Please wait...</label>
  </div>


</div>
