<!--
<nav class="navbar navbar-light navbar-expand-md custom-header fixed-top">
    <div class="container-fluid">
        <div><a class="navbar-brand" href="#">Arrow<span>Multimedia </span> </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav links">
                <li routerLinkActive="active" [routerLink]="menu.route" *ngFor="let menu of menuData" class="nav-item" role="presentation">
                  <a class="nav-link" [href]="menu.route">{{menu.label}}</a>
                </li>
            </ul>
    </div>
    </div>
</nav>
-->

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light shadow-sm">
  <a class="navbar-brand" href="#">
    <img src="./assets/logo.png" style="width: 200px;">
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleNavBar=!toggleNavBar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.show]="toggleNavBar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLink]="menu.route" *ngFor="let menu of menuData">
        <a class="nav-link" [href]="'#/'+menu.route">{{menu.label}}</a>
      </li>
    </ul>
  </div>
</nav>
