<div class="container-fluid page">
  <h4 class="page-title">
    Arrow Product Backlog
    <button class="btn btn-primary float-right" (click)="addDetails(productBacklogDetailsModal,arrowForm)">
      Add Product Backlog
    </button>
    <div class="clearfix"></div>
  </h4>

  <ul class="list-group mb-5" (cdkDropListDropped)="drop($event)" cdkDropList *ngIf="productBacklogsList">
    <!--d-flex flex-sm-column  flex-column flex-md-row flex-lg-row  flex-xl-row-->
    <li class="list-group-item mb-1"
        [class.in-progress]="productBacklog.designingStatus=='Design In progress' || productBacklog.developmentStatus == 'Development In progress'"
        [class.done]="productBacklog.designingStatus=='Design Completed' && productBacklog.developmentStatus == 'Development Completed'"
        *ngFor="let productBacklog of productBacklogsList;" cdkDrag>

      <div class="example-handle" cdkDragHandle>
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>

      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 text-truncate font-weight-bold pl-4">
          {{productBacklog.priority}}. {{productBacklog.productBacklogName}}
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 text-truncate font-weight-bold">
          {{productBacklog.designingStatus}}
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 text-truncate font-weight-bold">
          {{productBacklog.developmentStatus}}
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 text-truncate font-weight-bold">
          {{productBacklog.productBacklogRemarks}} &nbsp;
        </div>
      </div>
        <div style="position: absolute;top: 0.5rem;right:  0.5rem;">
          <button class="btn btn-primary btn-sm mr-3"
                  (click)="editDetails(productBacklog,productBacklogDetailsModal,arrowForm)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-danger btn-sm"
                  (click)="deleteDetails(productBacklog)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
    </li>
  </ul>

  <div bsModal
       [config]="{ignoreBackdropClick:true,keyboard:false}"
       #productBacklogDetailsModal="bs-modal"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{formTitle}}</h4>
          <button type="button"
                  class="close pull-right"
                  (click)="productBacklogDetailsModal.hide()"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal"
                autocomplete="off"
                #arrowForm="ngForm">
            <div class="form-row">

              <!--ProductBacklogName-->
              <div class="form-group col-md-6">
                <label>Product Backlog Name <span class="font-weight-bold text-danger">*</span></label>
                <input name="productBacklogName"
                       ngModel
                       required
                       autocomplete="off"
                       type="text"
                       placeholder="Product Backlog Name"
                       class="form-control">
              </div>

              <!--ProductBacklogName-->
              <div class="form-group col-md-6">
                <label>Priority <span class="font-weight-bold text-danger">*</span></label>
                <input name="priority"
                       ngModel
                       required
                       autocomplete="off"
                       type="number"
                       placeholder="Priority"
                       class="form-control">
              </div>

              <!--Status-->
              <div class="form-group col-md-6">
                <label>Designing Status <span class="font-weight-bold text-danger">*</span></label>
                <select name="designingStatus"
                       ngModel
                       required
                       autocomplete="off"
                       type="text"
                       class="form-control">
                  <option>Design No Started</option>
                  <option>Design In progress</option>
                  <option>Design Completed</option>
                </select>
              </div>

              <!--developmentStatus-->
              <div class="form-group col-md-6">
                <label>Development Status <span class="font-weight-bold text-danger">*</span></label>
                <select name="developmentStatus"
                       ngModel
                       required
                       autocomplete="off"
                       type="text"
                       class="form-control">
                  <option>Development No Started</option>
                  <option>Development In progress</option>
                  <option>Development Completed</option>
                </select>
              </div>

              <!--productBacklogRemarks-->
              <div class="form-group col-md-6">
                <label>Product Backlog Remarks</label>
                <textarea type="text"
                       name="productBacklogRemarks"
                       ngModel
                       autocomplete="off"
                       placeholder="Product Backlog Remarks"
                      class="form-control"></textarea>
              </div>

              <div class="col-12">
                <button [disabled]="arrowForm.invalid"
                        type="submit"
                        (click)="saveDetails(arrowForm.value, productBacklogDetailsModal, arrowForm)"
                        class="float-right btn btn-primary">Save
                </button>
                <p class="text-danger float-left">* please provide all required fields</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showLoader"
       class="fixed-top"
       style="width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);z-index: 200000000000;">
    <label class="text-white"
           style="position: absolute;top: 50%;width: 100%;text-align: center;">Please wait...</label>
  </div>


</div>
