<div class="container-fluid page">
  <h4 class="page-title">
    Arrow Faculties List
    <button class="btn btn-primary float-right"
            (click)="addDetails(facultyDetailsModal,arrowForm)">
      Add Faculty
    </button>
    <div class="clearfix"></div>
  </h4>

  <ul class="list-group"
      *ngIf="facultyList | async as facultysList">
    <li class="list-group-item mb-1"
        *ngFor="let faculty of facultysList">
      <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-12 text-truncate">
          <i [class.fa-male]="faculty.gender=='male'" [class.fa-female]="faculty.gender=='female'" class="fa fa-female"></i>
          {{faculty.facultyName}}
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12 text-truncate">
          <a [href]="'tel:'+faculty.phoneNumber"><i class="fa fa-phone"></i> {{faculty.phoneNumber}}</a>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12 text-truncate">
          <a [href]="'mailto:'+faculty.email"><i class="fa fa-envelope"></i> {{faculty.email}}</a>
        </div>
        <div style="position: absolute;top: 0.5rem;right:  0.5rem;">
          <button class="btn btn-primary btn-sm mr-3"
                  (click)="editDetails(faculty,facultyDetailsModal,arrowForm)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-danger btn-sm"
                  (click)="deleteDetails(faculty)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>

  <div bsModal
       [config]="{ignoreBackdropClick:true,keyboard:false}"
       #facultyDetailsModal="bs-modal"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{formTitle}}</h4>
          <button type="button"
                  class="close pull-right"
                  (click)="facultyDetailsModal.hide()"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal"
                autocomplete="off"
                #arrowForm="ngForm">
            <div class="form-row">

              <!--FacultyName-->
              <div class="form-group col-md-6">
                <label>Faculty Name</label>
                <input name="facultyName"
                       ngModel
                       autocomplete="off"
                       type="text"
                       placeholder="Faculty Name"
                       class="form-control">
              </div>

              <!--fatherName-->
              <div class="form-group col-md-6">
                <label>Father Name</label>
                <input type="text"
                       name="fatherName"
                       ngModel
                       autocomplete="off"
                       placeholder="Father Name"
                       class="form-control">
              </div>

              <!--referenceName-->
              <div class="form-group col-md-6">
                <label>Reference Name</label>
                <input name="referenceName"
                       ngModel
                       autocomplete="off"
                       type="text"
                       placeholder="Ref Name"
                       class="form-control">
              </div>

              <!--locationName-->
              <div class="form-group col-md-6">
                <label>Location</label>
                <input name="locationName"
                       ngModel
                       autocomplete="off"
                       type="text"
                       placeholder="Location Name"
                       class="form-control">
              </div>

              <!--email-->
              <div class="form-group col-md-6">
                <label>Email <span class="font-weight-bold text-danger">*</span> </label>
                <input name="email"
                       required
                       ngModel
                       autocomplete="off"
                       email
                       type="email"
                       placeholder="Email"
                       class="form-control">
              </div>

              <!--dateOfBirth-->
              <div class="form-group col-md-6">
                <label>Date of Birth <span class="font-weight-bold text-danger">*</span></label>
                <div>
                  <input name="dateOfBirth"
                         required
                         ngModel
                         autocomplete="off"
                         type="date"
                         class="form-control">
                </div>
              </div>

              <!--phoneNumber-->
              <div class="form-group col-md-6">
                <label>Phone number </label>
                <input name="phoneNumber"
                       ngModel
                       autocomplete="off"
                       type="tel"
                       placeholder="Phone number"
                       class="form-control">
                <span class="help-block">Your phone number won't be disclosed anywhere </span>
              </div>

              <!--Gender-->
              <div class="form-group col-md-6">
                <label>Gender <span class="font-weight-bold text-danger">*</span></label>
                <select class="form-control"
                        required
                        ngModel
                        autocomplete="off"
                        name="gender">
                  <option value="">Select...</option>
                  <option value="female">Female</option>
                  <option value="male">Male</option>
                </select>
              </div>

              <!--address-->
              <div class="form-group col-md-6">
                <label>Address</label>
                <textarea name="address"
                          ngModel
                          autocomplete="off"
                          class="form-control"
                          rows="3"></textarea>
              </div>

              <div class="col-12">
                <button [disabled]="arrowForm.invalid"
                        type="submit"
                        (click)="saveDetails(arrowForm.value, facultyDetailsModal, arrowForm)"
                        class="float-right btn btn-primary">Save
                </button>
                <p class="text-danger float-left">* please provide all required fields</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showLoader"
       class="fixed-top"
       style="width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);z-index: 200000000000;">
    <label class="text-white"
           style="position: absolute;top: 50%;width: 100%;text-align: center;">Please wait...</label>
  </div>
</div>
